[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/EmanuelCN/KernelSU
[submodule "kali-nethunter-kernel"]
	path = kali-nethunter-kernel
	url = https://github.com/dtrail/kali-nethunter-kernel.git
